header {
background-color: black;
color: white;
font-size: 20pt;
font-weight: bold;
padding: 5px 10px 5px 10px;
height: 25pt;
display: flex;
}

#ubTitleHeader {
    display: inline-block;
    margin: 0 10px 0 0;
}

.headerLogo{
    width: auto;
    height: 25pt; 
    object-fit: contain;
    display: inline-flexbox;
     
}

#factionHeaderDiv{
margin-left: auto;
font-size: 18pt;
}

.startPageBlurb{
margin: 0;
}

div {
    border: 1px solid maroon
}

body {
    background-color: white;
    border: 1px black solid;
    padding: 0px 0px 20px 0px;
}

.startContainer {
margin: auto;
width: 80%;
text-align: center;
}

#btnConsole {
    background-color: coral;
}

#message {
    background-color: purple;
    height: 16pt;
}

.pPowerItem{
    display: inline-block;
}

.cPowerItem{
    display: inline-block;
}

/* Damage Power Table on Match Screen */
#playerDamagePowerTable, th, td, tr{
    border: 1px royalblue solid
}

.rowOfDamageAmt, .rowOfOptionBtn{
    text-align: center;
}

.damagePowerHeader{
 text-align: left;
}

.pOptionBtn{
    background-color: transparent;
    border: none;
    }
    
    .pOptionBtnDiv{
        display: flex;
    flex-direction: row;
    }
    
    .optionImg{
    height: 45px;
    width: auto;
    }