header {
background-color: black;
color: white;
font-size: 20pt;
font-weight: bold;
padding: 5px 10px 5px 10px;
height: 25pt;
display: flex;
}

#ubTitleHeader {
    display: inline-block;
    margin: 0 10px 0 0;
}

.headerLogo{
    width: auto;
    height: 25pt; 
    object-fit: contain;
    display: inline-flexbox;
     
}

#factionHeaderDiv{
margin-left: auto;
font-size: 18pt;
}

.startPageBlurb{
margin: 0;
}

div {
    border: 1px solid maroon
}

body {
    background-color: white;
    border: 1px black solid;
    padding: 0px 0px 20px 0px;
}

.startContainer {
margin: auto;
width: 80%;
text-align: center;
}

#btnConsole {
    background-color: coral;
}

#message {
    background-color: rgb(218, 141, 218);
    height: 16pt;
}

.nameHpDiv{
    display: flex;
    justify-content: space-between;
    background-color: darkslategrey;
}

.nameP, .HpP{
    color: white;
    font-size: 20pt;
}

#pChoiceText, #cChoiceText {
    font-size: 16px;
}

.playingZone {
display: inline-flex
}

#playerChoiceDiv, #computerChoiceDiv {
display: inline-block;
padding: 10px 10px 10px 10px ;
background-color: deepskyblue;
}

#computerDiv{
    display: flexbox;
}

#computerChoiceAvatarTable{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: right;
}

.avatarDiv{
    display: inline-block;
    padding: 0;
} 

.pAvatar{
    height: 163px;
    width: auto;
    margin: 10px 0px 10px 20px;
    padding: 0;
    display: flex;
}

.cAvatar{
    height: 163px;
    width: auto;
    margin: 10px 20px 10px 0px;
    padding: 0;
    display: flex;
}


.pChoiceWeapon, .cChoiceWeapon{
    height: 150px;
    width: auto;
    margin: 10px 20px 10px 0px;
}

#cChoiceWeaponDiv{
    background-color: floralwhite;
}

/* Transition for attacking */
#pChoiceWeaponDiv.horizTranslate{
    transition-delay: 1s;
    transition: 2s;
    /* margin-left: 200%; */
    transform: translateX(400px)
}

#cChoiceWeaponDiv.horizTranslate{
    transition-delay: 1s;
    transition: 2s;
    /* margin-right: 200%; */
    transform: translateX(-400px)
}

/* Damage Power Table on Match Screen */
.DamagePowerTable, th, td, tr{
    border: 1px royalblue solid

}

#cDamageTableDiv{
 display: inline-flex;
 justify-content: flex-end;
   }

.rowOfDamageAmt, .rowOfOptionBtn{
    text-align: center;
}

.damagePowerHeader{
 text-align: left;
}

.optionImg{
    height: 45px;
    width: auto;
}

.pOptionBtn{
    background-color: transparent;
    border: none;
    border-radius: 4px;
    padding: 8px 10px 5px 10px;
    transition-duration: 0.4s;
    /* position: relative;
    display:inline-block; */
}

#Fire:hover, #Fire:focus{
  background-color: rgb(179, 24, 24);
  color: white;
}

#Metal:hover, #Metal:focus {
    background-color: rgb(85, 84, 84);
    color: white;
  }

#Wood:hover, #Wood:focus {
    background-color:green;
    color: white;
  }

  #Earth:hover, #Earth:focus {
    background-color: burlywood;
    color: white;
  }

  #Water:hover, #Water:focus {
    background-color: blue;
    color: white;
  }

/* #fireOptionBack{ hover effect replace image
    display: none;
    position: absolute;
    top: 2px;
    left: 7px;
    z-index: 99;
}*/

/* .pOptionBtn:hover #fireOptionBack {
    display: inline;
} */


.cOption{
    background-color: transparent;
    border: none;
    padding: 8px 10px 5px 10px;
    outline: none;
}
